* {
margin: 0;
padding: 0;
}

.group-form {
border: 0;
font-family: sans-serif;
font-size: 1.5rem;
color: #ffff;
margin-left: 20%;
margin-bottom: 10%;
}

.camp-form {
display: flex;
margin-bottom: 1rem;
color: #ffff;
margin-top: 2%;
margin-left: 5%;
border: 1px solid #ffff; 
width: 60%;
padding: 2.5%;
border-radius: 10px;
}

.input-form {
    width: 40%;
    font-size: 1.5rem;
    margin-top: -1%;
    display: flex;
    background-color: #35517A;
    border: none;
    outline: none;
    position: absolute;
}

.text-form {
    color: #ffff;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 25%;
    margin-bottom: 2%;
}

.button-form {
border: none;
padding: 1rem 2rem;
border-radius: 20px;
font-size: 1.2rem;
margin-left: 55%;
margin-top: 1%;
font-weight: bold;
font-family: sans-serif;
}
