body {
    background-color: #35517A;
}

.header {
    display: flex;
    justify-content: center;
}
.logo_header {
    width: 15%;
    margin-top: 0.5rem;
    display: flex;
}

.header_section {
    display: flex;
    justify-content: center;
    margin-top: 0%;
}


.container_header {
    margin-bottom: 20%;
}

.tittle_header {
    color: #ffff;
    font-family: sans-serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
}

.text_header {
    font-family: sans-serif;
    color: #ffff;
    margin-top: 10%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}


.detal {
    color: #EC1B23;
}



