html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #35517A;
}
.container-header{
    width: 97.5%;
    background-color: #2a3a53;
    margin-bottom: 5%;
}

.logo-home {
    margin: 0.5rem;
}

.content_section {
margin-bottom: 15%;
margin-top: 60%
}
.container_content {
    margin-bottom: 10%;
}
.tittle_content {
    color: #ffff;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 3.5rem;
    margin-top: 0%;
    margin-bottom: 5%;
}
.text_content {
    color: #ffff;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 18%;
}

.tittle_content-2 {
    color: #ffff;
    font-family: sans-serif;
    font-size: 3rem;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 7%;
}

.button_content {
    margin-top: 13%;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    padding: 1rem 1rem 1rem;
    border-radius: 8px;
    margin-left: 50%;
    font-size: 1.2rem;
}

.detal {
    color: #EC1B23;
    background-color: transparent;
    margin-left: 0%;
}
