*::before, *::after {
    box-sizing: border-box;
}

.slider {
    height: 600px;
    width: 1200px;

}

.slide-box {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    flex-shrink: 0;
    width: 80vw;
}

.slides {
    display: flex;
}

.slide-image {
  width: 95%;
  opacity: 50%;
  border-radius: 10px;
  opacity: 50%;
  border: 1px solid #fff;
  position: absolute;
}

.slide-image-2 {
    width: 95%;
    opacity: 50%;
    border-radius: 10px;
    opacity: 50%;
    border: 1px solid #fff;
    position: absolute; 
}

.slide-description {
    color: #fff;
    position: relative;
    bottom: 0;
    padding: 20px;
    margin-top: 0%;
    margin-left: 2%;
}

.slide-tittle {
    font-family: sans-serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.slide-text {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-top: 10%;
}
.nav-manual {
    position: absolute;
    border: 1px solid #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 150%;
    transform: translate(-50%);
    margin-top: 45%;
}

.nav-manual .manual-btn .nav-auto div{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}
.nav-manual .manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-right: -30%;
}



@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        margin-top: -20px;
        font-size: 28px;
    }
    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }

    .slide-controls {
        margin: 15px auto 0;
    }

    .slide-control-button {
        font-size: 14px;
    }
}
