*::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 3%;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.slide-list {
    display: flex;
}

.slide-item {
    flex-shrink: 0;
    padding: 0 10px;
    width: 90vw;
    cursor: grab;
}

.slide-content {
    position: relative;
    border: 1px solid #fff;
    border-radius: 8px;
}

.slide-image {
  width: 100%;
  opacity: 50%;
  border-radius: 10px;
}

.slide-description {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin-bottom: 5%;
    margin-left: 22%;
}

.slide-description-2 {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin-bottom: 10%;
    margin-left: 22%;
}

.slide-nav-button {
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    z-index: 1;
}

.slide-nav-previous  {
    left: 20px;
    border: none;
}

.slide-nav-next{
    right: 20px;
    border: none;
}
.slide-controls {
    margin: 20px auto;
}

.slide-control-button {
    color: #fff;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    border: none;
    margin: 0 3px;
}

.slide-control-button.active {
    color: #EC1B23;;
}

.slide-tittle {
    font-family: sans-serif;
    font-size: 3.5rem;
    display: flex;
    margin-bottom: 10%;
}

.slide-text {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-top: 10%;
}

@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }
    
    .slide-description h3 {
        font-size: 24px;
        top: 0;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        margin-top: -20px;
        font-size: 28px;
    }
    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }

    .slide-controls {
        margin: 15px auto 0;
    }

    .slide-control-button {
        font-size: 14px;
    }
}
